.root {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  li {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
}
.icon {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
}

.title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -3%;
  text-transform: lowercase;

  color: #a3967c;
}

@include breakpoint-min(md) {
  .root {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    li {
      width: 40%;
    }
  }
}
@include breakpoint-min(xl) {
  .root {
    flex-wrap: nowrap;
    li {
      width: auto;
    }
  }
}
