.headerLang {
  display: none;
}

@media screen and (min-width: 1280px) {
  .headerLang {
    position: relative;
    display: block;
    cursor: pointer;
    &__toggle {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      gap: 4px;
    }

    &__list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 8px;
      border-radius: 8px;
      background-color: var(--color-white);
      z-index: 2;
      li {
        display: flex;
        justify-content: center;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}
