.root {
}
.container {
  border-bottom: 1px solid #ff8e2433;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  margin-bottom: 1.6rem;
}

.title {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 600;
  color: $color-main;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  &:has(.prev:disabled):has(.next:disabled) {
    display: none;
  }
}

.prev,
.next {
  width: 1rem;
  height: 1rem;
  border: 0;
  background: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: $color-main;
  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
.next {
  transform: rotate(180deg);
}

.slider {
  overflow: visible;
}
.slide {
  width: max-content;
  height: auto;
}
.recommended {
  width: calc(50% - 0.5rem);
  overflow: hidden;
  border-radius: 16px;
}

@include breakpoint-min(md) {
  .root {
  }
  .container {
    padding-bottom: 4.8rem;
  }
  .header {
    margin-bottom: 3.2rem;
  }

  .title {
    font-size: 3.2rem;
  }

  .prev,
  .next {
    width: 2rem;
    height: 2rem;
  }
  .recommended {
    width: 34.2rem;
  }
}
