.headerCategories {
  width: calc(100% + 32px);
  ul {
    display: flex;

    width: 100%;
    gap: 4px;
    overflow-x: auto;
    margin: 0 -16px;
    padding: 0 16px 4px;
    li {
      a {
        display: flex;
        padding: 6px 8px;
        border-radius: 4px;
        font-size: 12px;
        letter-spacing: -3%;
        background-color: #f3f3f3;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .headerCategories {
    width: 100%;
    ul {
      flex-wrap: wrap;
      gap: 8px 30px;
      overflow-x: initial;
      margin: 0;
      padding: 0;
      li {
        a {
          display: flex;
          padding: 0;
          background-color: transparent;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }
}
