.header {
  position: sticky;
  top: -70px;
  padding-top: 16px;
  background-color: rgba($color: #fff, $alpha: 0.7);
  backdrop-filter: blur(50px);
  width: 100%;
  z-index: 100;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    &_left {
      display: flex;
      align-items: center;
    }
    &_right {
      display: none;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 16px;
  }
  &__burger {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    margin-right: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__logo {
    display: flex;
    align-items: flex-end;

    div {
      font-weight: 500;
      display: none;
    }
    img {
      width: 78px;
      height: 20px;
      object-fit: contain;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__logo {
      margin-right: 80px;
      img {
        width: 100px;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .header {
    &__top {
      padding-bottom: 18px;
      border-bottom: 1px solid #f1f0ee;
      &_right {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }
    &__bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__phone {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -3%;
    }
    &__burger {
      display: none;
    }
    &__logo {
      gap: 24px;
      margin-right: 144px;
      img {
        width: 125px;
        height: 34px;
        object-fit: contain;
      }
      div {
        font-size: 14px;
        display: block;
        height: 32px;
      }
    }
  }
}
