.root {
  width: 100%;
  ul {
    display: flex;
    width: calc(100% + 3.2rem);
    gap: 0.4rem;
    overflow-x: auto;
    margin: 0 -1.6rem;
    padding: 0 1.6rem 0.4rem;

    li {
      a {
        display: flex;
        padding: 0.6rem 0.8rem;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        letter-spacing: -3%;
        background-color: #f3f3f3;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .root {
    width: 100%;
    ul {
      flex-wrap: wrap;
      gap: 0.8rem 3rem;
      overflow-x: initial;
      margin: 0;
      padding: 0;
      li {
        a {
          display: flex;
          padding: 0;
          background-color: transparent;
          font-size: 2.4rem;
          font-weight: 600;
          transition: $transition;
          &:hover {
            color: $color-orange;
          }
        }
      }
    }
  }
}
