.root {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  background: #ff8e2433;
  cursor: pointer;
  transition: $transition;
  color: $color-orange;
  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
  &:active {
    background-color: $color-main;
    color: $color-white;
  }
  &:disabled {
    background-color: #f6f5f2;
    color: #d5cfc3;
    pointer-events: none;
  }
  img {
    width: 2.4rem;
    height: 2.4rem;
  }
  &_minus {
  }
  &_plus {
  }
}

.count {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

@include breakpoint-min(md) {
  .count {
    font-size: 2.4rem;
  }
}
